body{
	background: #151515 url(../Images/intro-bg.png) no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	
	
}

#intro {
	background: #151515 url(../Images/intro-bg.png) no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: auto;
	min-height: 720px;
	display: table;
	position: relative;
	text-align: center;
	
    
}

.intro-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #111111;
	opacity: .85;
    
}

.intro-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	-webkit-transform: translateY(-2.1rem);
	-ms-transform: translateY(-2.1rem);
	transform: translateY(-2.1rem);
    padding-bottom: 150px;
}
.intro-text{
	padding-bottom: 70px;

}
.intro-content h1 {
	color: #FFFFFF;
	font-family: "poppins-medium", sans-serif;
	font-size: 4.5rem;
	line-height: 1.071;
	max-width: 900px;
	margin-top: 0;
	margin-bottom: .6rem;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.intro-content h5 {
	color: #12a89c;
	font-family: "poppins-bold", sans-serif;
	font-size: 2.3rem;
	line-height: 1.565;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: .3rem;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position {
	font-family: "lora-regular", serif;
	font-size: 1.7rem;
	line-height: 2.4rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	color: #FFFFFF;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position span {
	display: inline-block;
}
.intro-content .intro-position span::after {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 8px 0 14px;
	color: rgba(255, 255, 255, 0.3);
}
.intro-content .intro-position span:first-child::before {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 14px 0 8px;
	color: rgba(255, 255, 255, 0.3);
}


.intro-social {
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 6rem;
	font-size: 5rem;
	margin-bottom: 140px;
	padding: 0;
}
.intro-social li {
	display: inline-block;
	margin: 0 20px;
	padding: 0;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	
    
}


.intro-social li a i{
    font-size: 1.4em;
}
.intro-social li a, .intro-social li a:visited {
	color: #FFFFFF;
}
.intro-social li a:hover, .intro-social li a:focus {
	color: #12a89c;
	
}
.intro-social li:hover{
	transform: translateY(-5px);

}

.center{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center #about-me{
    margin-top: 20px;
}

.center .buttons{
    height: 50px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid #fff;
    font-size: 20px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}


.center .buttons:hover{
    
    background: none;
}
.center .buttons:hover {
    background: #fff;
    color: #000;
    
}
.center .buttons:hover a{
    color: #000;
}


